<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width initial-scale=1.0"/>
    <link rel="shortcut icon" type="image/png" th:href="@{/img/favicon.png}"/>
    <title>Delicious WebApp</title>
    <link rel="stylesheet" href="/css/reset-css.css"/>
    <link rel="stylesheet" href="/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/css/style.css"/>
</head>
<body>
<header>
    <nav class="navbar navbar-expand-lg bg-nav rounded " >
        <div>
            <ul class="navbar-nav row">
                <li class="nav-item col-md-4">
            <a class="nav-link" th:href="@{/}">Delicious WebApp</a>
                </li>
                <li class="nav-item col-md-4">
                    <a class="nav-link" th:href="@{/add/recipe}">Add Recipe</a>
                </li>
                <li class="nav-item col-md-4">
        <a class="nav-link" th:href="@{/add/ingredient}">Add Ingredient</a>
                </li>
                <li class="nav-item col-md-4">
                    <a class="nav-link" th:href="@{/health}">Health Information</a>
                </li>
            </ul>
        </div>
        <div class="collapse navbar-collapse d-flex justify-content-end" id="navbarNav">
            <ul class="navbar-nav row">
                    <li class="nav-item col-md-4">
                        <a class="nav-link" th:href="@{/users/login}">Login</a>
                    </li>
                    <li class="nav-item col-md-4">
                        <a class="nav-link" th:href="@{/users/register}">Register</a>
                    </li>
            </ul>
                  <form th:method="post"
                  th:action="@{/users/logout}">
                      <input type="submit" class="nav-link logout-btn" value="Logout"/>
                  </form>
        </div>
    </nav>
</header>
<footer class="footer bg-transparent  py-2">
    <div class="container-fluid text-center">
        <div class="footer-background h5 my-text-color">
            &copy; Spring team 2025. All rights reserved.
        </div>
    </div>
</footer>
</body>
</html>