<!DOCTYPE html>
<html lang="en">
<head th:replace="~{fragments/commons::head}"></head>
<title>View All Recipes</title>
<body>
<header th:replace="~{fragments/commons::nav}"></header>
<main>
    <div class="container bg-blur rounded mt-5 ">
        <h1>All Recipes</h1>
        <hr class="my-3 bg-white w-50"/>

        <p class="h4">
            Here you can find all recipes that have been published to our website. Enjoy!
        </p>
        <div>
            <ul>
                <li th:each="recipe : ${recipes}">
                    <h2 th:text="${recipe.name}"></h2>
                    <p th:text="${recipe.type}"></p>
                    <p><strong>Ingredients:</strong></p>
                    <ul>
                        <li th:each="ingredient : ${recipe.ingredients}">
                            <span th:text="${ingredient.name}"></span>
                        </li>
                    </ul>
                    <p><strong>Time:</strong> <span th:text="${recipe.preparationTime}"></span></p>
                    <p><strong>Instructions:</strong> <span th:text="${recipe.preparationGuide}"></span></p>

                    <form th:action="@{/menus/recipes/{recipeId}/add(recipeId=${recipe.id})}" method="POST"><label
                            for="dayOfWeek">Select Day:</label>
                        <select id="dayOfWeek" name="dayOfWeek">
                            <option th:each="day : ${T(org.example.models.enums.DayOfWeek).values()}"
                                    th:value="${day}" th:text="${day}"></option>
                        </select>
                        <button type="submit" class="btn btn-primary">Add to Menu</button>
                    </form>
                </li>
            </ul>
        </div>
        <hr class="my-3 bg-white w-75"/>
    </div>
</main>

<footer th:replace="~{fragments/commons::footer}"></footer>


</body>
</html>