<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/commons::head}"></head>
<body>
<header th:replace="~{fragments/commons::nav}"></header>
<main>
    <div class="container bg-blur rounded mt-5 ">
        <h1>Welcome to Delicious Website</h1>
        <hr class="my-3 bg-white w-50"/>

        <p class="h4">
            Delicious is a web application, designed to help millions of mothers around the World. It offers various ideas for
            delicious homemade dishes, modern interprets of well-known recipes, including healthy ingredients.
<br>
         You will also find information on many ingredients such as their nutrition score, vitamins and calories.
        </p>
        <hr class="my-3 bg-white w-75"/>
        <div th:if="${featuredRecipe}" class="featured-recipe mt-5">
            <h2>Today's Featured Recipe</h2>
            <h3 th:text="${featuredRecipe.name}"></h3>
            <p th:text="${featuredRecipe.preparationGuide}"></p>
            <a th:href="@{/recipes/{id}(id=${featuredRecipe.id})}" class="btn btn-primary">View Recipe</a>
        </div>
        <h3>
            <a class="my-text-color" th:href="@{/users/login}" th:text="#{loginButton}">Login</a>
            if you have an account or
            <a class="my-text-color" th:href="@{/users/register}" th:text="#{registerButton}">Register</a>
            now and check our meals.
        </h3>
    </div>
</main>
<footer th:replace="~{fragments/commons::footer}"></footer>
</body>
</html>