<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/commons::head}"></head>
<body>
<header th:replace="~{fragments/commons::nav}"></header>
<main>
    <form th:action="@{/users/updateProfile}" method="post">
        <label>Full Name:</label>
        <label>
            <input type="text" name="username" th:value="${user.username}" required/>
        </label>

        <label>Email:</label>
        <label>
            <input type="email" name="email" th:value="${user.email}" required/>
        </label>

        <button type="submit">Save Changes</button>
    </form>
</main>
<footer th:replace="~{fragments/commons::footer}"></footer>
</body>
</html>